<html lang="en">

<%- include ('../partials/head.ejs') %>
<body>
  <%- include ('../partials/navbar.ejs') %>

  <div class="details content">
  <h2> <%= blog.title %></h2>
  <div class="content">
    <p> <%= blog.body %> </p>
    <button class="delete" data-doc="<%= blog._id %>"> delete </button>
  </div>
  </div>
  <script>
    const trashcan = document.querySelector('button.delete');

    trashcan.addEventListener('click', (e)=> {
      const endpoint = `/blogs/${trashcan.dataset.doc}`;

      fetch(endpoint, {
        method: 'DELETE'
      })
        .then((response)=>response.json())
        .then((data)=>window.location.href=data.redirect)
        .catch((err)=>console.log(err));
    })
  </script>
</body>
</html>
